[submodule "videospeed"]
	path = videospeed
	url = https://github.com/igrigorik/videospeed
[submodule "darkreader"]
	path = darkreader
	url = https://github.com/darkreader/darkreader
[submodule "vimium"]
	path = vimium
	url = https://github.com/philc/vimium
