[submodule "videospeed"]
	path = videospeed
	url = https://github.com/igrigorik/videospeed
[submodule "darkreader"]
	path = darkreader
	url = https://github.com/darkreader/darkreader
[submodule "Surfingkeys"]
	path = Surfingkeys
	url = https://github.com/brookhong/Surfingkeys
