body {
  min-height: 10rem;
  min-width: 10rem;
  width: 30rem;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

textarea {
  width: 100%;
  height: 10rem;
  resize: vertical;
}

button {
  padding: 0.25rem;
}
